
<app-pipes></app-pipes>

<!-- <h1> {{userStatus()}}</h1>
@if (visible) {
<app-user-status-component></app-user-status-component>

}

<button (click)="logOut()">Wyloguj</button>
<button (click)="logIn()">Zaloguj</button>


<button (click)="logOutSubject()">Wyloguj subject</button>
<button (click)="logInSubject()">Zaloguj subject</button>

<button (click) = "toggleVisablity()"> toggle visability </button>  -->



<!-- <h1>Values</h1>
<app-pattern-generator></app-pattern-generator>
<app-pattern-generator></app-pattern-generator> -->

<!-- 
<p>App: {{value2}}</p>
<app-foo></app-foo>
<app-foo></app-foo> -->


<!-- <div>{{counter1$ | async}}</div>
<div>{{counter2$ | async}}</div>
<div>{{counter3$ | async}}</div>

<button (click)="stop()">Stop emitting </button> -->


<!-- <button #first>First</button>

<button #second>Second</button> 
<button #third>Third</button> -->
<!-- <app-welcome></app-welcome> -->

<!-- <button (click)="endOfTime()"> end </button>
<button #btn> Click me to react </button>
<button #secondBtn> Click me to react with second button </button>

<ul>
    @for(message of messenger | async; track $index) 
    {
    <li> {{message}}</li>
    }
</ul> -->
<!-- <ul>


    @for(user of users$ | async; track user.id) {
        <li> {{user.name}} - {{user.age}} </li>
    }
</ul>

<h2> Adults </h2>
<ul>
    @for(user of adults$ | async; track user.id) {
        <li> {{user.name}} - {{user.age}} </li>
    }
</ul>

<h2> if Adults </h2>
<ul>
    @for(user of ifAdults$ | async; track user.id) {
        <li> {{user.name}} - @if(user.age) {<p>Jest pełnoletni</p>} @else { <p>Nie jest pełnoletni</p>}{{user.age}} </li>
    }
</ul> -->


<!-- <h1>{{counter23 | async}}</h1> -->

<!-- <h1> {{ counters$ | async }}</h1> -->

<!-- <h1>{{obsRandomValue | async}}</h1> -->

<!-- <div [class]="theme"> -->

<!-- <app-grandparent></app-grandparent> -->
<!-- </div> -->

<!-- <button (click)="toggleTheme()"> Switch theme</button> -->

<!-- 

<app-users></app-users> -->

<!-- <button (click) = "addNewNumber()" >  Add New Number from Application</button>



<app-grandparent [numbers]="numbers" (onNewNumber)="handleNewValue($event)"></app-grandparent> -->


<!-- <app-numbers [value] = "valueDetection" [values]="valuesOfDetection"></app-numbers>

<button (click)="changeName()"> Change value </button>


<button (click)="addNewValue()"> Add value </button> -->

<!-- <app-foo>

</app-foo> -->
<!-- 
<h1> {{counter() }}</h1>

<h1> {{doubleCounter() }}</h1>

<button (click) = "increase()">
    +1
</button>

<button (click) = "decrease()">
    -1
</button>

<button (click) = "reset()"> Reset </button> -->

<!-- {{myChange}} -->
<!-- <app-data-table>
</app-data-table> -->
<!-- 
<app-template></app-template>


<app-foo></app-foo> -->
<!-- <button (click) = "toggleVisablity()"> toggle visability </button> 
 @if (visible) {
<app-lifecycletester [myChange] = myChange [myRandomNumbers]= myRandomNumbers > </app-lifecycletester>
}

<button (click)="changeIt()">Click on me</button>
<button (click)="addToTheTab()">Add to tab
</button> -->

<!-- <app-parent></app-parent> -->
<!-- @if (visible) {<
<app-title></app-title>
}


<button (click) = "toggleVisablity()"> toggle visability </button> 
<button (click) = "toggleVisablity()"> Change counter </button>  -->

<!-- <app-my-ip></app-my-ip> -->

<!-- 
@if (visible) {
<app-foo [value]="value" [users] = "usersOne" />
}
<button (click)="changeValue()"> change values</button>
<button (click) = "addUsers()"> Add new User </button>
 
<button (click) = "toggleVisablity()"> toggle visability </button> -->

<!-- <app-page-container>
    <app-page-title title = "Hello World"/>
        <app-page-body>
            Lorem ipsum, dolor sit
        </app-page-body>
</app-page-container>

<app-container>
    <h1> Title </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique harum eaque dolorum corrupti eum eligendi ex recusandae quis animi? Expedita quo rem ducimus impedit harum saepe fuga ipsum voluptatum quibusdam.</p>
</app-container> -->




<!-- 
<app-page-layout>
    <div class="all">
    <h1 ngProjectAs="[header]" class="header">something</h1>
    <h2 ngProjectAs="[footer]" class = "footer">  footer </h2>
    </div>
</app-page-layout>

<app-homework-component>
    <h1 ngProjectAs = "[third]">
     bla a
    </h1>

    <h2 second>
     bla 2
    </h2>
    <h3 ngProjectAs = "[first]">
     bla 3
    </h3>
</app-homework-component> -->



<!-- <app-container>
    <app-title ngProjectAs="p" title = "Magda Magda"/>
    <h1>Test</h1>

    <p>Test 2 </p>

    <p> Test 3 </p>

    <span sidebar> I am sidebar content </span>
    <p class="footer"> I am a footer paragraph</p>
    <div class = "footer">
        <p> Iam footer content </p>
    </div>
</app-container> -->

<!-- <div class="container">
    @if(coords.length < 10) {
<app-crazy-box (onNewPosition)="handlewNewPosition($event)"/>
    }
<ul>

    @for(item of coords; track $index) {
        <li> X: {{item.x}}, Y: {{item.y}}px</li>
    }
</ul>

</div> -->
<!-- <h1>Hello World</h1>
<app-hello [name]="getName()" [users]="users" [amount]="5"></app-hello>

<app-name-displayer name="Computer Says No"></app-name-displayer>

<app-parent></app-parent>

<app-welcome who="Joe" />
<app-welcome who="Magda" />
<app-welcome who="Marcin" />
<app-welcome who="Oliwia" />
<app-welcome who="Salah" />



<app-dollar-converter [amount] = "100" currency = "PLN" [rate] = "3.78"></app-dollar-converter>
<app-users></app-users> -->


<!-- <app-grandparent></app-grandparent>
<app-random-numbers></app-random-numbers> -->

<!-- <app-cars></app-cars> -->
<!-- 
<button (click) = "addBox()"> Add new box </button>
<div class="box-container">
@for(box of boxses; track $index) {
<div class="box" [style]="getStyles2(box)"></div>
}
</div>  
@defer(on timer(5s))  {
    <app-foo/>
    }

<div *ngIf="shouldBeVisable">Lorem ipsum </div>


@switch (isLogged) {
    @case (true) {
        <h1> You are logged in </h1>
    }
    @case(false) {
        <h1> You are not logg in </h1>
    }
    @default {
        <h1>  Unknows state </h1>
    }
}


@if(shouldBeVisable) {
    <div> Lorem Pusum</div>
}

@else {
    <div> network </div>
} -->



<!-- 
<ul>
    <li *ngFor="let value of values">
     {{ value }}
    </li>

  
   @for(user of users; track user.id) {
       <li *ngFor="let user of users; trackBy: trackUsersFn">
        {{ user.name }} {{ $index }} {{ $first }} {{formatOdd($odd) }} {{ $count }} 
       </li>
    }
</ul>
<ul class="long-list">
  <li *ngFor="let user of users; trackBy: trackUsersFn">
        {{ user.name }}
       </li>
</ul> -->




<!-- 
@defer (on timer(5s)) {

<div [class] = "{'is-active': isActive, 'is-logged-in': isLogged}" 
[style]="getStyles()"
[class.lorem-ipsum] = "true" [style.font-weight] = "900">  
     I should(or not) have is-active class </div>
}
    @defer (on viewport) {
        <div> Loream Ipsum</div>
    } @placeholder {  
        <div>...</div>
    }

    @defer (on timer(5s)) {
    <app-lazy/>
    } @placeholder {
        <p> Iam a placeholder</p>
    } 
    @loading (minimum 1s){
        <p> Iam a loading message </p>
    } -->