

$font-stack: Tahoma;
$primary-color: red;

h1 {
    font: 100% $font-stack;
    color: $primary-color;
    font-weight: bold;


}



.is-active {
    background: red;
} 

.is-logged-in {
    font-size: 30px;
}

.long-list {
    height: 1000px;
}

.box-container {
    position: relative;
    width: 100vw;
    height: 80vh;
    z-index: 1000;

}

.box {
    position: absolute;
    transform: translate(-50%, -50%)
}

.container {
  position: relative;
  background-color: red;
}