<form [formGroup]="loginForm" (ngSubmit)="handleSubmit()"> 
<p>Numbers</p>
<app-input name="numberone" type ="numberb" [group] = "loginForm"/>
<app-input name="numbertwo" type ="numberb" [group] = "loginForm"/>

<p>Dodawanie: {{addNumbers$ | async}}</p>
<p>Mnozenie: {{multiplyNumbers$ | async}}</p>


<p> Sign in</p>
<app-input name="login" type ="text" [group] = "loginForm"/>
<app-input name="password" type ="password" [group] = "loginForm"/>
 <button type="submit" [disabled]="loginForm.invalid">Zatwierdź
</button>
<button type="button" (click) = "setDefault()">set Default 
</button>
<button type="button" (click)="reset()">Reset
</button>
<p>Summary: {{data$ | async}}</p>
</form>

